.cart-icon-wrapper {
  padding: 0 10px;
  cursor: pointer;
  position: relative;
}

.cart-item-count {
  position: absolute;
  top: -5px;
  right: 0;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 10px;
  font-weight: bold;
}
